body
{
    margin: 0;
    padding: 0;
}

@media only screen and (max-width:360px)
{
    nav
    {
        background: rgb(216, 62, 6);
        height: 60px;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 2;
    }

    #title-banner::before
    {
        content: "";
        width: 100%;
        height: 100%;
        background-image: url("./img/background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        filter: blur(0.09em);
        -webkit-filter: blur(0.09em);        
    }

    #title-banner
    {
        display: grid;
        height: 45%;
        width: 100%;
        position: relative;
    }

    #title-banner h1
    {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        color: white;
        letter-spacing: 2px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.3em;
        font-weight: 600;
        position: absolute;
        z-index: 1;
        bottom: 0;
    }

    #main-article
    {
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        font-weight: 400;
        text-align: justify;
    }

    #technologie-carousel
    {
        width: 95%;
        height: 10em;
        text-align: center;
        border: 1px solid #4286ca;
    }

    #technologie-carousel .slick-element .icon
    {
        margin: 8% auto 6% auto;
        height: 40%;
        width: auto;
    }

    ul .zainteresowanie
    {
        font-weight: 300;
        font-size: 1em;
    }
}

/* Niezależne od szerokości */

.article-point
{
    list-style-type: square;
    font-size: 1.15em;
    font-weight: 600;
    margin-bottom: 1em;
    margin-top: 1em;
}

.article-point span
{
    margin-left: -0.5em;
    text-decoration-line: underline;
    text-decoration-color: #999999;
    text-decoration-style: dashed;
}